$primary: rgb(127,24,147);
$danger: #c00;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

// Create your own map
$custom-colors: (
  "icon-bg": rgba(127,24,127,0.2),
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import './bootstrap/scss/bootstrap';

@import "./product_area";

@import "./variables";
@import "./common";
@import './helpers';
@import './footer';